@import 'src/styles/colors.scss';

.input-clas {
  width: 100%;
  border: none;
  border-bottom: 2px solid grey;
  font-size: 1.2rem;
  padding-left: 0.5rem;
  padding-bottom: 0.3rem;
  outline: none;
}
.input-clas:focus {
  border-bottom: 2px solid $primary_300;
}

.div-container {
  width: 100%;
  //border: 1px solid;
  display: flex;
  position: relative;
}

.icon-props {
  width: 1.5rem;
  color: $primary_300;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  top: 0;
  margin: auto;
}
