.transparent-container {
  height: 30rem;
  background: transparent;
}

.div-container-body {
  position: relative;
  background: transparent;
}
.div-services {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 2rem;
  background: white;
}

@media (min-width: 600px) and (max-width: 1199px) {
}
@media (min-width: 1200px) and (max-width: 1919px) {
  .transparent-container {
    height: 50rem;
  }
  .div-services {
    display: none;
  }
}
@media (min-width: 1920px) {
  .transparent-container {
    height: 50rem;
  }
  .div-services {
    display: none;
  }
}
