@import 'src/styles/colors.scss';

.container-banner-top {
  height: 25rem;
  position: relative;
}

.img-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background-black-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 1rem;
}

.div-titles-container {
  width: 100%;
  max-width: 1500px;
}

.p-title {
  color: white;
  font-family: 'prata';
  font-size: 1.5rem;
  color: $primary_300;
}

.h3-title {
  color: white;
  font-size: 2.5rem;
  font-family: 'just-sans-m';
}

.wave-class {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  z-index: 6;
}

@media (min-width: 600px) and (max-width: 1199px) {
  .container-banner-top {
    height: 25rem;
  }
  .background-black-container {
    padding-inline: 5rem;
  }
  .h3-title {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) and (max-width: 1919px) {
  .container-banner-top {
    height: 35rem;
  }

  .background-black-container {
    padding-inline: 15rem;
  }
  .h3-title {
    font-size: 4rem;
  }
}
@media (min-width: 1920px) {
  .container-banner-top {
    height: 35rem;
  }
  .background-black-container {
    padding-inline: 15rem;
  }
  .h3-title {
    font-size: 4rem;
  }
}
