@import 'src/styles/colors.scss';

.button-container {
  font-family: 'josefin-sans-m';
  font-size: 1.2rem;
}

.size-s {
  font-size: 1rem;
  height: 2.3rem;
  padding-inline: 1rem;
}
.size-m {
  font-size: 1.2rem;
  padding-inline: 2rem;
  height: 3.3rem;
}
.theme-primary {
  border: 2px solid transparent;
  background: $primary_300;
  color: white;
}
.theme-primary:hover {
  border: 2px solid $primary_300;
  background: white;
  color: $primary_300;
  transition-duration: 0.3s;
}
.theme-secondary {
  border: 2px solid $primary_300;
  background: white;
  color: $primary_300;
}
.theme-secondary:hover {
  border: 2px solid $primary_300;
  background: $primary_300;
  color: white;
  transition-duration: 0.3s;
}

.theme-rounded {
  border-radius: 999px;
}
