@import 'src/styles/colors.scss';

.our-focus-container {
  width: 100%;
  padding-inline: 1rem;
  padding-block: 2rem;
  background: white;
}
.div-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.p-title {
  color: $primary_300;
  font-family: 'prata';
  font-size: 1.5rem;
}

.p-content {
  font-size: 2rem;
}

.div-button-container {
  margin-top: 2rem;
}

@media (min-width: 600px) and (max-width: 1199px) {
  .our-focus-container {
    padding-inline: 5rem;
    padding-block: 2rem;
  }
}
@media (min-width: 1200px) and (max-width: 1919px) {
  .our-focus-container {
    padding-inline: 15rem;
    padding-block: 4rem;
  }
}
@media (min-width: 1920px) {
  .our-focus-container {
    padding-inline: 15rem;
    padding-block: 4rem;
  }
}
