@import 'src/styles/colors.scss';

.big-container {
  background: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.challenge-div-container {
  background: white;
  padding-inline: 1rem;
  padding-bottom: 5rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.div-kids {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.div-kids-left {
  row-gap: 2rem;
}
.div-kids-rigth {
  row-gap: 2rem;
  padding-top: 2rem;
}

.div-container-info {
  //border: 1px solid;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.p-title {
  color: $primary_300;
  font-family: 'josefin-sans-m';
  font-size: 1.5rem;
}
.p-subtitle {
  font-size: 1.5rem;
  font-family: 'josefin-sans-m';
}
.p-content {
  font-size: 1.5rem;
  font-family: 'josefin-sans-l';
  line-height: 2.2rem;
}

.wave-position {
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
}

@media (min-width: 0) and (max-width: 599px) {
}
@media (min-width: 600px) and (max-width: 1199px) {
}
@media (min-width: 1200px) and (max-width: 1919px) {
  .challenge-div-container {
    background: white;
    padding-inline: 15rem;
    padding-bottom: 15rem;
    padding-top: 4rem;
    display: flex;
    flex-direction: row;
  }
  .div-kids {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding-inline: 2rem;
  }
  .div-kids-left {
    row-gap: 8rem;
  }
  .div-kids-rigth {
    row-gap: 10rem;
    padding-top: 8.8rem;
  }
  .div-container-info {
    //border: 1px solid;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  .p-subtitle {
    font-size: 2rem;
  }
  .wave-position {
    bottom: 0;
  }
}
@media (min-width: 1920px) {
  .big-container {
   padding-bottom: 10rem;
  }
  .challenge-div-container {
    background: white;
    width: 100%;
    max-width: 1500px;
    padding-top: 4rem;
    display: flex;
    flex-direction: row;
  }
  .div-kids {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding-inline: 2rem;
  }
  .div-kids-left {
    row-gap: 8rem;
  }
  .div-kids-rigth {
    row-gap: 10rem;
    padding-top: 8.8rem;
  }
  .div-container-info {
    //border: 1px solid;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  .p-subtitle {
    font-size: 2rem;
  }
  .wave-position {
    bottom: 0;
  }
}
