@import 'src/styles/colors.scss';

.big-container {
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  padding-inline: 2rem;
  padding-block: 3rem;
}
.container-square {
  width: 100%;
  max-width: 1500px;
  display: flex;
  justify-self: center;
  align-items: center;
}

.square-show {
  //border: 4px solid $primary_300;
}

.p-label {
  font-size: 1.3rem;
  text-align: center;
}

@media (min-width: 600px) and (max-width: 1199px) {
  .p-label {
    font-size: 1.7rem;
  }
  .big-container {
    padding-inline: 5rem;
    padding-block: 6rem;
  }
}
@media (min-width: 1200px) and (max-width: 1919px) {
  .p-label {
    font-size: 1.5rem;
  }

  .big-container {
    padding-inline: 10rem;
    padding-block: 6rem;
  }
}
@media (min-width: 1920px) {
  .p-label {
    font-size: 1.5rem;
  }
  .big-container {
    padding-block: 8rem;
  }
}
