@import 'src/styles/colors.scss';

.big-container {
  background: white;
  display: flex;
  justify-content: center;
}

.container-we-do {
  background: white;
  padding-inline: 1rem;
  padding-block: 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.p-title {
  font-family: 'prata';
  color: $primary_300;
  font-size: 1.5rem;
}
.p-content {
  font-family: 'josefin-sans-m';
  font-size: 1.5rem;
}

.cards-square {
  display: flex;
  flex-direction: column;
}

.sizedbox-heigth {
}

.div-container-center-button {
  display: flex;
  justify-content: center;
}

@media (min-width: 0) and (max-width: 599px) {
}
@media (min-width: 600px) and (max-width: 1199px) {
}
@media (min-width: 1200px) and (max-width: 1919px) {
  .container-we-do {
    padding-inline: 15rem;
    padding-block: 3rem;
  }
  .p-title {
    font-family: 'prata';
    color: $primary_300;
    font-size: 2rem;
  }
  .p-content {
    font-family: 'josefin-sans-m';
    font-size: 2rem;
  }
  .sizedbox-heigth {
    height: 3rem;
  }
  .cards-square {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 2rem;
  }
}
@media (min-width: 1920px) {
  .container-we-do {
    width: 100%;
    max-width: 1500px;
    padding-block: 3rem;
  }
  .p-title {
    font-family: 'prata';
    color: $primary_300;
    font-size: 2rem;
  }
  .p-content {
    font-family: 'josefin-sans-m';
    font-size: 2rem;
  }
  .sizedbox-heigth {
    height: 3rem;
  }
  .cards-square {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 2rem;
  }
}
