@import 'src/styles/colors.scss';

.container-testimonials {
  background: $primary_300;
  padding-inline: 1rem;
  padding-block: 2rem;
}
.div-container-info {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.h2-title {
  color: white;
  font-family: 'prata';
  font-size: 1.5rem;
}
.p-content {
  color: white;
  font-family: 'josefin-sans-l';
  font-size: 1.5rem;
  line-height: 1.9rem;
}

.p-name {
  color: white;
  font-family: 'josefin-sans-l';
  font-size: 1rem;
}

@media (min-width: 0) and (max-width: 599px) {
}
@media (min-width: 600px) and (max-width: 1199px) {
}
@media (min-width: 1200px) and (max-width: 1919px) {
  .container-testimonials {
    padding-inline: 15rem;
    padding-block: 4rem;
  }
  .div-container-info {
    row-gap: 2rem;
    width: 70%;
  }
  .h2-title {
    font-size: 2rem;
  }
  .p-content {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .p-name {
    font-size: 1.5rem;
  }
}
@media (min-width: 1920px) {
}
