@import 'src/styles/colors.scss';

.big-container {
  background: $primary_300;
  display: flex;
  justify-content: center;
}

.container-testimonials {
  background: $primary_300;
  padding-block: 2rem;
  position: relative;
  width: 100%;
  height: 35rem;
  transition-duration: 1s;
  overflow: hidden;
}
.div-container-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  row-gap: 2rem;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding-inline: 1rem;
}
.div-container-info-move {
  transition-duration: 1s;
  left: -100%;
  right: 100%;
}

.div-container-info-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 100%;
  right: -100%;
  padding-inline: 1rem;
}
.div-container-info-right-move {
  transition-duration: 1s;
  left: 0;
  right: 0%;
}

.h2-title {
  color: white;
  font-family: 'prata';
  font-size: 1.5rem;
}
.p-content {
  color: white;
  font-family: 'josefin-sans-l';
  font-size: 1.5rem;
  line-height: 1.9rem;
}

.p-name {
  color: white;
  font-family: 'josefin-sans-l';
  font-size: 1rem;
}

.chevron-right {
  position: absolute;
  right: 1rem;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: start;
  cursor: pointer;
  z-index: 10;
}
.icon-chevron {
  width: 5rem;
  height: 5rem;
  stroke: white;
}
.marks-bottom {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 1.5rem;
  margin: auto;
  display: flex;
  justify-content: center;
  z-index: 5;
  display: flex;
  column-gap: 0.5rem;
}

.mark {
  background: white;
  border-radius: 999px;
  height: 0.2rem;
  width: 1rem;
  cursor: pointer;
  transition-duration: 1s;
}
.mark-selected {
  width: 2rem;
}

@media (min-width: 0) and (max-width: 599px) {
}
@media (min-width: 600px) and (max-width: 1199px) {
}
@media (min-width: 1200px) and (max-width: 1919px) {
  .container-testimonials {
    padding-inline: 15rem;
    padding-block: 4rem;
  }
  .div-container-info {
    row-gap: 2rem;
    width: 70%;
    padding-right: 15rem;
    left: calc(0% + 15rem);
  }

  .div-container-info-move {
    transition-duration: 1s;
    left: -100%;
    right: 100%;
  }

  .div-container-info-right {
    row-gap: 2rem;
    width: 70%;
    padding-right: 15rem;
  }

  .div-container-info-right-move {
    left: calc(0% + 15rem);
  }

  .chevron-right {
    right: 5rem;
    align-items: center;
  }
  .marks-bottom {
    right: 5rem;
  }

  .h2-title {
    font-size: 2rem;
  }
  .p-content {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .p-name {
    font-size: 1.5rem;
  }
}
@media (min-width: 1920px) {
  .container-testimonials {
    width: 100%;
    max-width: 1500px;
    padding-block: 4rem;
  }
  .div-container-info {
    row-gap: 2rem;
    width: 70%;
    padding-right: 15rem;
    left: calc(0% + 15rem);
  }

  .div-container-info-move {
    transition-duration: 1s;
    left: -100%;
    right: 100%;
  }
  .div-container-info-right {
    row-gap: 2rem;
    width: 70%;
  }

  .chevron-right {
    right: 5rem;
    align-items: center;
  }

  .marks-bottom {
    right: 5rem;
  }
  .h2-title {
    font-size: 2rem;
  }
  .p-content {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .p-name {
    font-size: 1.5rem;
  }
}
